body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

nav {
  background-color: #eeeeee;
}

.asteriskField {
  display: none;
}

.reorder-arrows {
  width: 6em;
}

.reorder-arrows form {
  display: inline-block;
}
