{% extends "base.html" %}

{% block title %}Blocks | Projects{% endblock title %}

{% block content %}

<div class="container mt-4">
  {% if project_list %}
  <div class="mb-3">
    <a href="/projects/add" class="btn btn-primary">Add project</A>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Name</th>
          <th scope="col">Baseline</th>
          <th scope="col">Bonus</th>
          <th scope="col">Rows</th>
        </tr>
      </thead>
      <tbody>
        {% for project in project_list %}
        <tr {% if not project.active %}class="text-muted fw-light fst-italic"{% endif %}>
          <td class="reorder-arrows">
            <form action="{% url 'blocks:project_reorder' project.pk 'up' %}" method="post">
              {% csrf_token %}
              <button class="btn btn-sm"><i class="bi-caret-up-fill"></i></button>
            </form>&nbsp;
            <form action="{% url 'blocks:project_reorder' project.pk 'down' %}" method="post">
              {% csrf_token %}
              <button class="btn btn-sm"><i class="bi-caret-down-fill"></i></button>
            </form>
          </td>
          <td><a href="{% url 'blocks:project_update' project.pk %}">{{ project.name }}</a></td>
          <td>{{ project.baseline }}</td>
          <td>{{ project.bonus }}</td>
          <td>{{ project.rows }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="mb-3">
    You don't have any projects yet.
  </div>
  <div class="mb-3">
    <a href="/projects/add" class="btn btn-primary">Add project</A>
  </div>
  {% endif %}
</div>

{% endblock content %}












